{% extends "layouts.html" %}
{% block content %}
    <h2>Calendar - {{ month }}/{{ year }}</h2>

    <table border="1" class="btn btn-outline-info" style="margin-bottom: 25px;">
        <tr>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
        </tr>
        {% for week in cal %}
            <tr>
                {% for day in week %}
                    <td>
                        {% if day != 0 %}
                        <a href="{{ url_for('entries', date=year ~ '-' ~ '{:02d}'.format(month) ~ '-' ~ '{:02d}'.format(day)) }}" class="btn btn-outline-info">{{ day }}</a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>

    <a href="{{ url_for('calendar_view', year=year, month=month-1) }}" class="btn btn-outline-info">Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('calendar_view', year=year, month=month+1) }}" class="btn btn-outline-info">Next</a>

{% endblock %}
