{% extends "layouts.html" %}
{% block content %}
<form action="{{ url_for('search') }}" method="get">
    <input type="text" name="q" placeholder="Search users..." required>
    <button type="submit">Search</button>
</form>

<h2>Your Friends</h2>
<ul>
    {% for friend in friends %}
        <li class="btn btn-outline-info">{{ friend.username }} <a href="{{ url_for('remove_friend', friend_id=friend.id) }}" class="list-group-item list-group-item-dark">Remove</a></li>
    {% endfor %}
</ul>
{% endblock content %}
